.App {
  display: flex;
  justify-content: space-between;
}

.Map {
  position: absolute;
  z-index: 1;
  grid-column: 1/3;
  height: 100vh;
  width: 100%;
}

.Sidebar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Stations {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.MetroMap {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.Liste {
  margin-left: 30px;
}

.Weather {
  grid-column: 3;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  background: white;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.Weather img {
  height: auto;
  width: 40px;
}

.Card {
  position: absolute;
  bottom: 40px;
  right: -90px;
  width: 200px;
  background: white;
  border-radius: 8px;
  padding: 10px;
}

@media only screen and (max-width: 1300px){
  .App {
    display: flex;
  }

  .Weather {
    border-radius: 0;
  }

  .Stations {
    border-radius: 0;
  }
}